.about__section {
    background-color: #FFF5F6;
}
.about {
    min-width: 320px;
}

.about__paragraph-one {
    color: #000000;
    font-size: 12px;

@media screen and (min-width:768px) {
            font-size: 14px;
        }
    
@media screen and (min-width:1280px) {
            font-size: 16px;
        }
}

.about__paragraph-two {
    color: #907E82;
    font-size: 12px;

    @media screen and (min-width:768px) {
        font-size: 14px;
    }

    @media screen and (min-width:1280px) {
        font-size: 14px;
    }
}
