.hero {
  background-color: $backgroundAccentLight;
  padding: 210px 0px;
}

.hero__container {
  position: relative;
  bottom: -210px;
}

.hero__nav {
  position: absolute;
  z-index: 1;
  left: 20px;
  bottom: 208px;

}

.hero__heading {
  font-family: 'Titan One';
  font-weight: $fontWeightLight;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $lightestColor;
}

.hero__heading--big {
  color: $darkAccentColor;
  font-size: 46px;
  line-height: 40px;
}

.hero__images {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/mobile/m-hero171.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/mobile/m-hero342.png);
    }
}

.hero__image--hero{
  transform-style: preserve-3d;
  bottom: 0px;
  left: 117px;
  width: 171px;
  height: 410px;
}

.hero__image--hero::after {
  transform: translateZ(-1px);
  position: absolute;
  bottom: 85px;
  left: -80px;
  content: "";
  background-color: $lightAccentColor;
  border-radius: 50%;
  height: 334px;
  width: 336px;
}