.hero {
  background-color: $backgroundAccentLight;
  padding: 220px 0px;
}

.hero__container {
  position: relative;
  z-index: 1;
  bottom: -220px;
}

.hero__nav {
  position: absolute;
  z-index: 1;
  left: 20px;
  bottom: 202px;

}

.hero__heading {
  font-family: 'Titan One';
  font-weight: $fontWeightLight;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $lightestColor;
}

.hero__heading--big {
  color: $darkAccentColor;
  font-size: 46px;
  line-height: 40px;
}

.hero__images {
  position: absolute;
  z-index: 0;
  bottom: 0px;
  right:-34px;
  width: 346px;
  height: 344px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/mobile/m-hero171.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/mobile/m-hero342.png);
    }
}

.hero__images::after {
  position: absolute;
  z-index: 0;
  fill: $backgroundAccentLight;
  border-radius: 50%;
  height: 334px;
  width: 336px;
}