.products {
  display: flex;
  flex-direction: column;
}

.products__item{
  background: #FFB8CA;
  border-radius: 24px;
}

.products__img {
  margin-bottom: 20px;
  width: 280px;

  @media screen and (min-width:768px) {
    width: 224px;
    
  }

  @media screen and (min-width:768px) {
     width: 368px;
  }
}

.products__img--cone {
  background-color: $backgroundAccentLight;
  border-radius: 50%;
  width: 280px;
  height:280px;

  @media screen and (min-width:768px) {
    width: 224px;
    height: 224px;
    
  }
    
  @media screen and (min-width:768px) {
    width: 368px;
    height: 368px;
  }
}

.products__img--coffee {
    background-color: $backgroundAccentExtra;
    border-radius: 50%;
    width: 280px;
    height: 280px;
  
  @media screen and (min-width:768px) {
    width: 224px;
    height: 224px;
  }
    
  @media screen and (min-width:768px) {
    width: 368px;
    height: 368px;
  }
}

.products__img--milkshake {
    background-color: $backgroundAccentOther;
    border-radius: 50%;
    width: 280px;
    height: 280px;

  @media screen and (min-width:768px) {
      width: 224px;
      height: 224px;
    }
  
  @media screen and (min-width:768px) {
    width: 368px;
    height: 368px;
  }
}