@import '~node_modules/modern-normalize/modern-normalize.css';

:focus {
    outline: none;
}

/* default styles*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.link {
    text-decoration: $noTextDeco;
    color: inherit;
}

.list {
    list-style: $noListStyle;
    padding: 0;
    margin: 0;
}

// ice cream styles

body {
  @include fontFamily (main);
  font-style: $fontStyle;
  color: $darkestColor;
  font-size: $fontSizeMain;
  font-weight: $fontWeightMed;
  background-color: $backgroundColorMain;
 }

.section__label {
  @include fontFamily(secondary);
  font-size: $fontSizeMBig;
  font-weight: $fontWeightLight;
  color: $lightAccentColor;
  letter-spacing: 0.04em;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.section__header {
  @include fontFamily(secondary);
  color: $darkAccentColor;
  text-align: center;
  text-transform: uppercase;
  font-weight: $fontWeightLight;
  font-size: $fontSizeMLargest;
  line-height: 39px;
  letter-spacing: 0.04em;
}

%animation {
    @include transition ();
}