<!-- coffee description -->
<div class="backdrop is-hidden" data-modal-about>
    <div class="about-modal">
        <button type="button" class="modal__close--about" data-modal-close-about="">
            <svg class="icon--svg button-close__icon" width="16" height="17">
                <use href="./images/icons.svg#menu-close"></use>
            </svg>
        </button>
        <h3 class="modal__title">This is our Process<br>These are our cows</h3>
        <div class="about-modal__wrapper">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Accusantium ullam, sed dignissimos expedita, possimus asperiores 
            labore laboriosam impedit enim at ad! Accusamus, nemo eligendi nam 
            animi distinctio deleniti culpa sint est soluta placeat inventore 
            alias eum, esse id laudantium iusto, possimus voluptatibus qui atque 
            deserunt? Soluta dolor magni eius iste!
          </p>
      </div>
    </div>
</div>

