<section class="section">
  <div class="container advantages">
    <ul class="list">
      <li class="advantages__list">
        <p class="advantages__numbers">721</p>
        <p class="advantages__label">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__list">
        <p class="advantages__numbers">16KG</p>
        <p class="advantages__label">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__list">
        <p class="advantages__numbers">84</p>
        <p class="advantages__label">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
