<div class="backdrop is-hidden" data-modal-buy>
    <div class="pro-modal contacts__modal">
        <button type="button" class="modal__close--franchise" data-modal-close-buy>
            <svg class="icon--svg button-close__icon" width="16" height="17">
                <use href="./images/icons.svg#menu-close"></use>
            </svg>
        </button>
        <form class="modal__form">
          <h3 class="modal__title">Make online Order</h3>
          <div class="contacts-modal__wrapper">
            <label class="modal__label">
              <span class="modal__text">Name</span>
                <input class="modal__input" type="text" name="name" placeholder="Bob Marley" />
            </label>
            <label class="modal__label">
                <span class="modal__text">Phone</span>
                <input class="modal__input" type="tel" name="tel" placeholder="+38 (111) 111 11 11" />
            </label>
            <ul class="list">
              <li>
                <h3>Type your order specifics in the comment below. Please follow this format in order, to help us process your order
                  correctly:
                </h3>
                <h4>
                  Quantity of each item / Size/ Type / Flavor/Milk Base (choose up to two flavors) / Add Ins (.50 cents each) / Toppings (.50 cents each)
                  / Syrups (.50 cents each) / Additional descriptions
                </h4>
                <p>
                  We will only process online orders of 4 total items or less. Please call for orders of 5 or more items. We will be
                  delighted to make a phone order!
                </p>
                <p>
                  Don't see what you like? Call us, we may have additional options for you!
                </p>
              </li>
              <li>
                <h4>Order Options</h4>
                  <li>
                    <h5>Size</h5>
                    <p>
                      Small (8oz), Medium (12oz), or Large (16ox)
                    </p>
                  </li>
                  <li>
                    <h5>Type</h5>
                    <p>
                      Icecream, Coffee, or MilkShake
                    </p>
                  </li>
                  <li>
                    <h5>Flavors/Milk Base</h5>
                    <p>
                      Sweet Cream, Vanilla, Chocolate, or Vegan Sorbet Cow, Almond, Oat or Soy
                    </p>
                  </li>
                  <li>
                    <h5>Add Ins</h5>
                    <p>
                      Peanuts, Chocolate Chips, Seasonal Fruit, Coconut, Gummies, Cheese Cake Chunks, Cookie Dough
                    </p>
                  </li>
                  <li>
                    <h5>Toppings</h5>
                    <p>
                      Whipped Cream, any Add Ins, Sprinkles, Hot Fundge, Caramel
                    </p>
                  </li>
                  <li>
                    <h5>Syrups</h5>
                    <p>
                      Chocolate, Mint, Caramel, Seasonal Fruit, Cinnamon, Cardamom, Vanilla
                    </p>
                  </li>
                  <li>
                    <h5>Additional Descriptions</h5>
                    <p>
                      Cone or Cup, Iced Blended or hot, Extra Sweet or Light Sweet, Sundae, Dairy Substitute for coffee drinks (ALmond, Oat, or Soy)
                    </p>
                  </li>
              </li>
            </ul>
            <label class="modal__label">
              <span class="modal__text">Order Specifics</span>
                <textarea class="modal__textarea" name="comment" rows="10" placeholder=" ex: 2 / Large/ Coffee / Almond Milk / Cinnamon/ Hot Light Sweet"></textarea>
            </label>
            <div class="modal__radio">
                    <p class="modal__text">Do you want</p>
                    <label class="modal__label-radio">
                        <input class="modal__input-radio" type="radio" name="level" value="1 level" checked />
                        <span class="custom-radio-btn"></span>
                        <span class="modal__text-radio">Pick Up)</span>
                    </label>
                    <label class="modal__label-radio">
                        <input class="modal__input-radio" type="radio" name="level" value="2 level" />
                        <span class="custom-radio-btn"></span>
                        <span class="modal__text-radio">Dine In</span>
                    </label>
                    <label class="modal__label-radio">
                        <input class="modal__input-radio" type="radio" name="level" value="3 level" />
                        <span class="custom-radio-btn"></span>
                        <span class="modal__text-radio">Delivery (+ 5.00)</span>
                    </label>
            </div>
        <button class="btn fran-modal__button button" type="submit">Send</button>
    </div>
</div>