<div class="backdrop is-hidden" data-modal-buy>
  <div class="modal buy__modal">
    <button type="button" class="button-close" data-modal-close-buy="">
      <svg class="icon--svg button-close__icon" width="14" height="14">
        <use href="./images/icons.svg#menu-close"></use>
      </svg>
    </button>
    <h3 class="modal__header">Icecream made with<br>Passion</h3>
    <button class="button button-products buy__button" type="button">order form
      <svg class="icon--svg button__icon-nav" width="4" height="8">
        <use href="./images/icons.svg#button-arrow-light"></use>
      </svg>
    </button>
  </div>
</div>