<section class="section hero">
    <div class="container hero__container">
        <h1 class="hero__heading"><span class="hero__heading--small">ice cream<br>made with<br></span><span class="hero__heading--big">passion</span></h1>
        <button class="button hero__button hero__button--products form-open" type="button" data-modal-open>Products</button>
        <button class=" button hero__button hero__button--how form-open" type="button" data-modal-open>How it's made?</button>
        <div class="hero__images"></div>
        <!-- <img class="hero__img--main" src="./images/mobile/m-hero-170.jpg" alt="5 scoop sherbet ice cream cone with whipped cream on top"/> -->
    </div>
</section>