<header class="header">
    <div class="container container__nav">
        <div class="header__logo">
            <svg class="logo" width="199" height="50">
                <use href="./images/icons.svg#logo"></use>
            </svg>
        </div>
        <div class=" header__button">
            <button class="button button--buy" type="submit">Buy Now
                <svg class="button__icon" width="4" height="8">
                    <use href="./images/icons.svg#button-arrow"></use>
                </svg>
            </button>
        </div>
        <nav class="nav"></nav>
            <div class="nav__burger">
              <svg class="burger" width="20" height="12">
                <use href="./images/icons.svg#burger"></use>
              </svg>
            </div> 
            <ul class="list navbar">
                <li class="navbar__item">
                    <a class="link navbar__link" href="./index.html">Home
                    </a>
                </li>
                <li class="navbar__item">
                    <a class="link navbar__link" href="#">About us
                    </a>
                </li>
                <li class="navbar__item">
                    <a class="link navbar__link" href="#">How it's made?</a>
                </li>
                <li class="navbar__item">
                    <a class="link navbar__link" href="#">Our products</a>
                </li>
                <li class="navbar__item">
                    <a class="link navbar__link" href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>