<section class="section hero">
    <div class="container hero__container">
        <div class="hero__nav">
        <h1 class="hero__heading"><span class="hero__heading--small">ice cream<br>made with<br></span><span class="hero__heading--big">passion</span></h1>
        <button class="button hero__button hero__button--products form-open" type="button" data-modal-open>Products</button>
        <button class=" button hero__button hero__button--how form-open" type="button" data-modal-open>How it's made?</button>
        </div>
        <div class="hero__images"></div>
    </div>
</section>