<!-- ice cream description -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal icecream__modal">
    <button type= "button" class="button-close" data-modal-close="">
      <svg class="icon--svg button-close__icon" width="14" height="14">
        <use href="./images/icons.svg#menu-close"></use>
      </svg>
    </button>
    <h3 class="modal__header">we've got<br>your ice cream</h3>
    <ul class="list pro-modal">
      <li class="pro-modal__item">
        <h4 class="pro-modal__item-header">Cones</h4>
        <p class="pro-modal__item-description">Lorem, ipsum dolor sit amet<br>
          consectetur adipisicing<br>Lorem ipsum dolor sit<br>
          Lorem ipsum dolor sit amet.</p>
      </li>
      <li class="pro-modal__item">
        <h4 class="pro-modal__item-header">Bowls</h4>
                <p class="pro-modal__item-description">Lorem, ipsum dolor sit amet<br>
          consectetur adipisicing<br>Lorem ipsum dolor sit<br>
          Lorem ipsum dolor sit amet.</p>
      </li>
      <li class="pro-modal__item">
        <h4 class="pro-modal__item-header">Sundays</h4>
                <p class="pro-modal__item-description">Lorem, ipsum dolor sit amet<br>
          consectetur adipisicing<br>Lorem ipsum dolor sit<br>
          Lorem ipsum dolor sit amet.</p>
      </li>
      <li class="pro-modal__item">
        <h4 class="pro-modal__item-header">Toppings</h4>
                <p class="pro-modal__item-description">Lorem, ipsum dolor sit amet<br>
          consectetur adipisicing<br>Lorem ipsum dolor sit<br>
          Lorem ipsum dolor sit amet.</p>
      </li>
      <li class="pro-modal__item">
        <h4 class="pro-modal__item-header">Pints</h4>
                <p class="pro-modal__item-description">Lorem, ipsum dolor sit amet<br>
          consectetur adipisicing<br>Lorem ipsum dolor sit<br>
          Lorem ipsum dolor sit amet.</p>
      </li>
    </ul>
    <a class="link" href="#buynow">
      <button class="button button-products icecream__button" type="button">order form
        <svg class="icon--svg button__icon-nav" width="4" height="8">
          <use href="./images/icons.svg#button-arrow-light"></use>
        </svg>
      </button>
    </a>
  </div>
</div>
<!-- coffee description -->
<!-- <div class="backdrop is-hidden">
  <div class="coffee__modal">
    <button type="button" class="coffee__modal-button-close">
      <svg class="icon--svg button-close__icon" width="14" height="14">
        <use href="./images/icons.svg#menu-close"></use>
      </svg>
    </button>
    <h3>How do you prefer your COFFEE today?!</h3>
    <ul class="list coffee">
      <li class="coffee__item">
        <p class="link coffee__link">Iced</p>
      </li>
      <li class="coffee__item">
        <p class="link coffee__link">Blended</p>
      </li>
      <li class="coffee__item">
        <p class="link coffee__link">Flavors</p>
      </li>
      <li class="coffee__item">
        <p class="link coffee__link">Toppings</p>
      </li>
      <li class="coffee__item">
        <p class="link coffee__link">Pitcher</p>
      </li>
    </ul>
    <button class="button button--buy-mobile-menu" type="button">Order Form
      <svg class="button__icon-menu icon--svg" width="5" height="8">
        <use href="./images/icons.svg#button-arrow"></use>
      </svg>
    </button>
  </div>
</div> -->
 <!-- milkshake description -->
<!-- <div class="backdrop is hidden">
  <div class="milkshake__modal">
  <button type="button" class="milkshake__modal-button-close">
    <svg class="icon--svg button-close__icon" width="14" height="14">
      <use href="./images/icons.svg#menu-close"></use>
    </svg>
  </button>
  <h3>How do you prefer your ICE CREAM today?!</h3>
  <ul class="list milkshake">
    <li class="milkshake__item">
        <p class="link milkshake__link">Base Flavor</p>
    </li>
    <li class="milkshake__item">
        <p class="link milkshake__link">Mix Ins</p>
    </li>
    <li class="milkshake__item">
        <p class="link milkshake__link">Syrups</p>
    </li>
    <li class="milkshake__item">
        <p class="link milkshake__link">Toppings</p>
    </li>
    <li class="milkshake__item">
        <p class="link milkshake__link">Layered</p>
    </li>
</ul>
<button class="button button--buy-mobile-menu" type="button">Order Form
  <svg class="button__icon-menu icon--svg" width="5" height="8">
    <use href="./images/icons.svg#button-arrow"></use>
  </svg>
  </button>
  </div>
</div> -->