<section class="section">
  <div class="products-container container">
    <p class="section__label"> 100 % natural</p>
    <h2 class="section__header">products</h2>
      <ul class="list products">
        <li class="products__item header">
          <div class="=products__img products__img--cone"
          <h3 class="products__header">ice cream</h3>
          <p class="prducsts__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
          <button class="products__button" type="button" href="#">

          </button>
        </li>
        <li class="products__item products__item--coffee">
          <img class="img products__img" 
            alt="Tall glass of foamy iced latte with a straw."
            src="./images/mobile/m-coffee280.png"
            srcset="./images/desktop/d-coffee368.png 368w,
              ./images/desktop/d-coffee736.png 736w,
              ./images/mobile/m-coffee280.png 280w,
              ./images/mobile/m-coffee560.png 560w,
              ./images/tablet/t-coffee224.png 224w,
              ./images/tablet/t-coffee448.png 448w"
            sizes="(max-width: 480px 280px),
              (min-width: 768px 224px), 
              (min-width: 1280px 368px)"></img>
            
          <h3 class="products__header">ice coffee</h3>
          <p class="prducsts__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
          <button class="products__button" type="button" href="#"></button>
        </li>
        <li class="products__item products__item--milkshake">
          <img class="img products__img"
            alt="Rocky road milkshake filled to the brim with chocolate cookies whipped cream chocolate sauce and marshmallows elegantly heaped on top."
            src="images/mobile/m-milkshake280.png"
            srcset="./images/desktop/d-milkshake368.png 368w,
              ./images/desktop/d-milkshake736.png 736w,
              ./images/mobile/m-milkshake280.png 280w,
              ./images/mobile/m-milkshake560.png 560w,
              ./images/tablet/t-milkshake224.png 224w,
              ./images/tablet/t-milkshake448.png 448w"
            sizes="(min-width: 768px 224px),
              (max-width: 480px 280px),
              (min-width: 1280px 368px)"></img>
          <h3 class="products__header">milkshakes</h3>
          <p class="prducsts__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
          <button class="products__button" type="button" href="#"></button>
        </li>
     </ul>
  </div>
</section>


<!-- <img class="img team__img" alt=" head shot of Christopher smiling looking stylish"
  src="./images/mobile/m-product450.jpg" 
  
  srcset=" ./images/desktop/d-product270.jpg 270w, 
           ./images/desktop/d-product540.jpg 540w, 
           ./images/mobile/m-product450.jpg 450w,
           ./images/mobile/m-product900.jpg 900w,
           ./images/tablet/t-product354.jpg 354w,
           ./images/tablet/t-product708.jpg 708w" 
       sizes="(min-width: 1200px 270px),
              (min-width: 768px 354px),
              (max-width: 480px 450px)" /> -->