<section class="section">
  <div class="products__container container">
    <p class="products__label"> 100 % natural</p>
    <h2 class="products__header">products</h2>
      <ul class="list products-card__list">
        <li class="products-card__item">
          <image class="img products-images products-card__image--cone" 
            alt="waffle cone with two scoops of strawberry icecream and a mint sprig."
            src="./images/mobile/m-cone280.png"
            srcset="./images/desktop/d-cone368.png,
              ./images/desktop/d-cone736.png,
              ./images/mobile/m-cone280.png,
              ./images/mobile/m-cone560.png,
              ./images/tablet/t-cone224.png,
              ./images/tablet/t-cone448.png"
            sizes="(min-width: 1280px 368px),
              (min-width: 768px 224px),
              (max-width: 480px 280px)"></image>
          <h3 class="products-cardcard__header">ice cream</h3>
          <p class="prducsts-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
          <button class="products-card__button" type="button" href="#"></button>
        </li>
        <li class="products-card__item">
          <image class="img products-images products-card__image--coffee" alt="Tall glass of foamy iced latte with a straw."
          src="./images/mobile/m-coffee280.png" 
          srcset="./images/desktop/d-coffee368.png,
              ./images/desktop/d-coffee736.png,
              ./images/mobile/m-coffee280.png,
              ./images/mobile/m-coffee560.png,
              ./images/tablet/t-coffee224.png,
              ./images/tablet/t-coffee448.png"
            sizes="(min-width: 1280px 368px),
              (min-width: 768px 224px),
              (max-width: 480px 280px)"></image>
          <h3 class="products-cardcard__header">ice coffee</h3>
          <p class="prducsts-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
          <button class="products-card__button" type="button" href="#"></button>
        </li>
        <li class="products-card__item">
          <image class="img products-images products-card__image--milkshake"
            alt="Rocky road milkshake filled to the brim with chocolate cookies whipped cream chocolate sauce and marshmallows elegantly heaped on top..products-card__image--cone"
            src="./images/mobile/m-milkshake280.png" 
            srcset="./images/desktop/d-milkshake368.png,
              ./images/desktop/d-milkshake736.png,
              ./images/mobile/m-milkshake280.png,
              ./images/mobile/m-milkshake560.png,
              ./images/tablet/t-milkshake224.png,
              ./images/tablet/t-milkshake448.png"
            sizes="(min-width: 1280px 368px),
              (min-width: 768px 224px),
              (max-width: 480px 280px)"></image>
          <h3 class="products-cardcard__header">milkshakes</h3>
          <p class="prducsts-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
          <button class="products-card__button" type="button" href="#"></button>
        </li>
     </ul>
  </div>
</section>


<!-- <img class="img team__img" alt=" head shot of Christopher smiling looking stylish"
  src="./images/mobile/m-product450.jpg" 
  
  srcset=" ./images/desktop/d-product270.jpg 270w, 
           ./images/desktop/d-product540.jpg 540w, 
           ./images/mobile/m-product450.jpg 450w,
           ./images/mobile/m-product900.jpg 900w,
           ./images/tablet/t-product354.jpg 354w,
           ./images/tablet/t-product708.jpg 708w" 
       sizes="(min-width: 1200px 270px),
              (min-width: 768px 354px),
              (max-width: 480px 450px)" /> -->