<section class="section">
  <div class="products-container container">
    <p class="section__label"> 100 % natural</p>
    <h2 class="section__header">products</h2>
      <ul class="list products">
        <li class="products__item">
          <div class="products__img products__img--cone"></div>
        </li>
        <li class="products__card products__item--cone">
          
          <h3 class="products__header">ice cream</h3>
          <p class="products__description">Lorem ipsum dolor sit<br>amet, consectetur<br>adipiscing elit, sed do<br>eiusmod tempor 
            incididunt<br>ut labore et. dolore magna<br>
            aliqua facilisis.</p>
          <button class="products__button" type="button" href="#">

          </button>
        </li>
        <li class="products__item products__item--coffee">
          <div class="products__img products__img--coffee"></div> 
          <h3 class="products__header">ice coffee</h3>
            <p class="products__description">Lorem ipsum dolor sit<br>amet, consectetur<br>adipiscing elit, sed do<br>eiusmod tempor
              incididunt<br>ut labore et. dolore magna<br>
              aliqua facilisis.</p>
          <button class="products__button" type="button" href="#"></button>
        </li>
        <li class="products__item products__item--milkshake">
        <div class="products__img products__img--milkshake"></div>
          <h3 class="products__header">milkshakes</h3>
            <p class="products__description">Lorem ipsum dolor sit<br>amet, consectetur<br>adipiscing elit, sed do<br>eiusmod tempor
              incididunt<br>ut labore et. dolore magna<br>
              aliqua facilisis.</p>
          <button class="products__button" type="button" href="#"></button>
        </li>
     </ul>
  </div>
</section>