%button {
    font-family: 'DM Sans', sans-serif;
    background-color: $lightestColor;
    color: $darkAccentColor;
    font-size: $fontSizeMedium;
    font-weight: $fontWeightHeavy;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        background-color: $hoverLight;
    }
}

.button--buy-mobile {
    @extend %button;
    padding: 10px 48px;
    width: 209px;
    margin-bottom: 32px;
}

.button--buy-tablet {
    @extend %button;
    display: none;
     @media screen and (min-width:768px) {
        display: flex;      
        padding: 10px 37px;
     }
}

.button__icon-menu {
    fill: currentColor;
    margin-left: 15px;

    @media screen and (min-width:768px) {
      margin-left: 14px;
    }
}

.button__icon-nav {
  margin-left: 12px;
}

.hero__button {
  padding: 7px;
  font-size: 8px;
  font-weight: $fontWeightLight;
  line-height: 10px;
}

.hero__button--products {
    @extend %button;
    width: 62px;
    color: $lightestColor;
    background-color: $darkAccentColor;
}

.hero__button--how {
    @extend %button;
    width: 82px;
}

/* About Button */
.button-about {
    background-color: #FFFFFF;
    border-radius: 22px;
    width: 176px;
    height: 44px;
    font-size: 14px;
    margin-left: 20px;

    line-height: 21px;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    color: #D41443;

    @media screen and (min-width:768px) {
        margin-left: 400px;
    }

    @media screen and (min-width:1280px) {
        margin-left: 616px;
    }
}