%button {
  font-family: 'DM Sans', sans-serif;
  background-color: $lightestColor;
  color: $darkAccentColor;
  font-size: $fontSizeMedium;
  font-weight: $fontWeightHeavy;
  line-height: 18px;
  letter-spacing: 0.06em;
  border-radius: 22px;
  border: none;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {

      background-color: $hoverLight;
      color: $darkAccentColor;
  }
}

.button--buy-mobile-menu {
  @extend %button;
  padding: 10px 48px;
  width: 209px;
  margin-bottom: 32px;
}

.button--buy-tablet {
  @extend %button;
  display: none;

  @include mq (tablet) {
    display: block;      
    padding: 10px 32px;
    width: 160px;
  }

  @include mq (desktop) {
    margin-right: -32px;
  }
}

.button__icon-menu {
    fill: currentColor;
    margin-left: 15px;

    @include mq (tablet) {
      margin-left: 14px;
    }
}

.button__icon-modal {
  fill: $lightestColor;
  // width: 8px;
  // height: 8px;
  margin-left: 8px;
}

.button__icon-nav {
  margin-left: 12px;
}

.hero__button,
.button-products {
  @extend %button;
    display: inline-flex;
    padding: 7px;
    font-size: 8px;
    font-weight: $fontWeightLight;
    line-height: 10px;
    margin: 15px 8px 0px 0px;

  @include mq (desktop) {
    padding: 12px;
    font-size: $fontSizeMain;
    line-height: 18px;
    margin: 24px 10px 0px 0px;
  }
}

.hero__button--products { 
    width: 62px;
    color: $lightestColor;
    background-color: $darkAccentColor;
    left: 0px;
    top: 120px;

  @include mq (desktop) {
    width: 107px;
  }
}

.hero__button--how {
    width: 82px;
    Left: 70px;
    top: 120px;

  @include mq (desktop) {
    width: 138px;
    }
}

.hero--advantages__button {
  background-color: $lightestColor;
  height: 18px;
  width: 18px;
  margin-top: 7px;
  border-radius: 50%;
  border: none;

  @include transition (background-color);
    &:hover,
    &:focus {
      background-color: $hoverLight;
  }

  @include mq (desktop) {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
}

.hero--advantages__icon {
  fill: $darkAccentColor;
  margin-bottom: 1px;

  @include mq (desktop){
  width: 8px;
  height: 8px;
  margin-left: 1px;
  margin-bottom: 0px;
  }
}

.products__button {
  background-color: $lightestColor;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  margin: 32px 0 40px 0;
  @include transition (background-color);
    
    &:hover,
    &:focus {
      background-color: $hoverLight;
  }
}

.products__icon {
  fill: $darkAccentColor;
  margin-top: 3px;
}

.ice__button {
  background-color: $darkAccentColor;
  color: $lightestColor;
  font-size: $fontSizeMain;
  width: 140px;
  padding: 15px;
  margin-left: 45px;
  margin-top: 25px;
  @include transition (background-color);
    
    &:hover,
    &:focus {
      background-color: $hoverLight;
    }
}

/* About Button */
.button-about {
    background-color: #FFFFFF;
    border: none;
    border-radius: 22px;
  
    width: 176px;
    height: 44px;
    font-size: 14px;
    font-weight: 700;
    color: #D41443;
    line-height: 18px;

    display: flex;
    text-align: center;
    justify-content: center;
    
    margin-top: 20px;
    padding: 10px 20px;

    @include transition (background-color);
      &:hover,
      &:focus {
        background-color: $hoverLight;
      }
    @include mq (tablet) {
      margin-top: 40px;
        // margin-left: 400px;
    }

    @include mq (desktop) {
        // margin-left: 616px;
    }

    &__svg {
      fill: red;
      border: 2px;
      margin-left: 13px;
      margin-top: 6px;
    }

}
